
.Guilt{
    background-color: #340058; /* dark purple */
    color: #FFFFFF; /* white text */
}

.Isolation{
    background-color: #49EB96; /* light teal */
}

.Ambition{
    background-color: #6B0001; /* maroon */
    color: #FFFFFF; /* white text */
}

.Madness{
    background-color: #FF3103; /* orange */
}

.Secrecy{
    background-color: #717070; /* gray */
    color: #FFFFFF; /* white text */
}

.Consequences_Of_Creation{
    background-color: #007A2B; /* dark mint green */
}

.Obsession{
    background-color: #FE9900; /* orange */
}

.Worry{
    background-color: #059FFF; /* light blue */
}

.Self_Disgust{
    background-color: #28FF07; /* neon green */
}

.Rage{
    background-color: #FF0303; /* red */
    color: #FFFFFF; /* white text */
}

.Misery{
    background-color: #07006C; /* dark blue */
    color: #FFFFFF; /* white text */
}

.Illness{
    background-color: #739501; /* yellow green */
}

.Death{
    background-color: #000000; /* black */
    color: #FFFFFF; /* white text */
}

.Depression{
    background-color: #FF0389; /* pink */
}

.Fear{
    background-color: #A00155; /* dark pink */
    color: #FFFFFF; /* white text */
}

.place{
    background-color: #EAE010; /* yellow */
    color: #000000; /* black text */
}

.char{
    background-color: #3411FF; /* bright blue */
    color: #FFFFFF; /* white text */
}

#theme-guide {
    position: fixed;   /* stays in place */
    top: 0;            /* sticks to the top of the viewport */
    left: 0;
    width: 100%;       /* span across the page */
    background: white; /* optional: background so text doesn’t overlap */
    z-index: 1000;     /* ensures it stays above other content */
}

#theme-guide svg {
    display: block;
    margin: auto;
}

#body {
    margin-top: 250px;
}


