
.Guilt{
    background-color: #340058; /* dark purple */
}

.Isolation{
    background-color: #49EB96; /* light teal */
}

.Ambition{
    background-color: #6B0001; /* maroon */
}

.Madness{
    background-color: #FF3103; /* dark red */
}

.Secrecy{
    background-color: #717070; /* gray */
}

.Consequences_Of_Creation{
    background-color: #007A2B; /* dark mint green */
}

.Obsession{
    background-color: #FE9900; /* orange */
}

.Worry{
    background-color: #059FFF; /* light blue */
}

.Self_Disgust{
    background-color: #28FF07; /* neon green */
}

.Rage{
    background-color: #FF0303; /* red */
}

.Misery{
    background-color: #07006C; /* dark blue */
}

.Illness{
    background-color: #739501; /* yellow green */
}

.Death{
    background-color: #000000; /* black */
    color: #FFFFFF; /* white text */
}

.Depression{
    background-color: #5F597D; /* pale blue */
}

.Fear{
    background-color: #B963A3; /* light pink */
}

.place{
    background-color: #EAE010; /* yellow */
}

.char{
    background-color: #3411FF; /* bright blue */
}

#theme-guide {
    position: fixed;   /* stays in place */
    top: 0;            /* sticks to the top of the viewport */
    left: 0;
    width: 100%;       /* span across the page */
    background: white; /* optional: background so text doesn’t overlap */
    z-index: 1000;     /* ensures it stays above other content */
}

#theme-guide svg {
    display: block;
    margin: auto;
}



